<!DOCTYPE HTML>
<html lang="en" ng-app="directoryApp">
<head>
  <meta charset="utf-8" />
  <title>{{pageTitle}}</title>
  <meta name="description" content="{{pageTitle}}for Udemy Course" />
  <meta name="author" content="Dennis Mullen" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  {{> header}}

  <!-- references the screamIt helper and the welcomeContent string from server.js -->
  <p>{{screamIt welcomeContent}}</p>

  <!-- Tag to add a handlebars (hbs) partial template -->
  {{> footer}}

</body>
</html>
